/* HEADER.SCSS: Header styling for the site */

.header-container {
  display: flex;
  justify-content: flex-end;
  background: url("../images/norilsk_buss.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.header-item {
  background-color: #F6CB4F;
  width: 40vw;
  min-height: 100vh;
  padding: 50px;
}

@media screen and (max-width: 960px) {
  .header-container,
  {
    flex-direction: column;
    background-image: none;
  }
  .header-item {
    width: 100vw;
  }
}